body {
    margin: 15px;
    margin-left: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-variant: small-caps;
    background-image: url(background.png);
    background-color: black;
    color: rgb(37, 228, 37);
}

button, input {
    background-color: transparent;
    color: rgb(37, 228, 37);
    border-color: rgb(37, 228, 37);
    border-style: solid;
    border-width: 2px;
}

button:hover {
    background-color: rgba(102, 255, 0, 0.329);
}

.board {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.big_text {
    font-size: 4em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.large_text {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.board_name_text {
    font-size: 2em;
    margin-bottom: 10px;
}

.lable_input_form {
    font-size: 3em;
}

.lable_input_form__lable {
    float: left;
}

.lable_input_form__input {
    margin: 0px;
    padding: 0px;
    font-size: inherit;
    font-family: inherit;
    font-variant: inherit;
}

.lable_input_form__button {
    margin-top: 15px;
    text-align: center;
    font-size: inherit;
    font-family: inherit;
    font-variant: inherit;
    border-radius: 20px;
}


.lable_input_form__button--far_right {
    margin-left: 200px;
}

.button--circle {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    cursor: pointer;
    font-size: 1.1em;
}

.button--margin_left {
    margin-left: 30px;
}

.board--left {
    float: left;
    width: 40%;
    margin-top: 15px;
    margin-left: 15px;
}

.board--mid {
    float: left;
    width: 30%;
    margin-top: 15px;
}

.board--right {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    width: 25%;
}

.board__vertical_line {
    width: 1px;
    background-color: black;
    height: 100%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.button--rectangle {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 4em;
    height: 7em;
    font-size: 1.5em;
    font-family: inherit;
    font-variant: inherit;
}

.cards {
    margin-top: 10px;
}

.button_reset_name {
    border: 1px solid;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    font-family: inherit;
    font-variant: inherit;
}

.error {
    color: rgb(37, 228, 37);
    margin-top: 20px;
    display: block;
    font-size: large;
}

.user_list {
    font-size: 1.5em;
}

.user_list__button_delete {
    font-size: inherit;
    font-family: inherit;
    font-variant: inherit;
}


.board__voting_results_table {
    font-size: 1.2em;
    border: 3px solid rgb(37, 228, 37);
    float: left;
    width: 100%;
    display: block;
}

.board__voting_results_table__name {
    padding: 2px;
}

.board__voting_results_table--left {
    float: left;
    width: 50%;
    border-right: 3px solid rgb(37, 228, 37);
    border-top: 3px solid rgb(37, 228, 37);
    padding: 2px;
}

.board__voting_results_table--right {
    float: left;
    width: calc(50% - 3px - 4*2px);
    border-top: 3px solid rgb(37, 228, 37);
    padding: 2px;
}

.board__jira_story {
    font-size: 1.2em;
    margin-top: 30px;
    float: left;
}


